
<h2>Quiz Web App</h2>

<p>My goal in this project is to build a simple quiz game web application. This is the first time I use C#, ASP.NET, and MVC. Apart from attempting to complete this project, I am looking forward to exploring what these technologies can do.</p>

<h3>Tech Used</h3>

<p>HTML, CSS, Bootstrap, JavaScript, C#, ASP.NET, MVC, Visual Studio</p>